<ion-header-bar class="newheaderBar bar newbar-header " align-title="center">
    <div class="">
        <img class="newbankLogo" src="img/Header_logo.png" />
    </div>
    <div class="newalignright">
        <button class="newheaderButtons " ng-click="logout()"><i class="newlogOut"></i></button>
    </div> 
</ion-header-bar>
<ion-view view-title="Add Amount" name="AddAmount-view">
        <ion-content has-header="true">
                
            <div class="dashboard_subheader">
                <!-- <img class="newsubheader_backarrow" src="img/Header_back-arrow.png" ng-click="$ionicGoBack()"> -->
                <h2>Add Amount</h2>
            </div>

        <form name="userForm">
            <div class="padding10 margintop10">
                <div class=" resultCard ">
                    <div class="listlabel">
                        <h2 class="addnoteslabel commonfontcolor">Select Member</h2>


            <div class="imageSelect">
                    <img src="img/fromAccount.png">            
                    <select class="asSelect labelBottomBorder" name="selectedMember" ng-model="userData.selectedMember" required>
                        <option value="" disabled selected>Select Member</option>
                        <option ng-repeat="item in membersList"  value="{{item.Id}}">{{item.Id}}-{{item.Name}}</option>
                     </select>
            </div>


                        <span ng-if="submitted && userForm.selectedMember.$error.required" class="error-message marginleft25">Please Select Member</span>
               
                        <div class="imageLabel">
                            <img src="img/Narration.png"> 
                        </div>
            <label class="item item-input item-floating-label labelBottomBorder marginleft25">
            <span class="input-label">Date</span>
            <input type="text" onfocus="(this.type='date')" name="date" ng-model="userData.date" placeholder="Select Date" required>
            </label>
            <span ng-if="submitted && userForm.date.$error.required" class="error-message marginleft25">Select Date</span>

            
                            <div class="imageLabel">
                                    <img src="img/Rupee.png"> 
                                </div>
                <label class="item item-input item-floating-label labelBottomBorder marginleft25">
            <span class="input-label">Amount</span>
            <input type="tel" name="amount"  ng-model="userData.amount" valid-number required placeholder="Enter Amount">
        
        </label>
        
                <span ng-if="submitted && userForm.amount.$error.required" class="error-message marginleft25">Please Enter Amount</span>
        <!-- </div>
                <div class="listlabel"> -->
                        <div class="imageLabel">
                                <img src="img/Narration.png"> 
                            </div>
                <label class="item item-input item-floating-label labelBottomBorder marginleft25">
                <span class="input-label">Total</span>
                <input type="tel" name="total" ng-model="userData.total" valid-number required placeholder="Enter Total">
            </label>
            <span ng-if="submitted && userForm.total.$error.required" class="error-message marginleft25">Please Enter Total Amount</span>
            
          
            <div class="imageLabel">
                <img src="img/Tpin.png"> 
                </div>
                    <label class="item item-input item-floating-label labelBottomBorder marginleft25">
            <span class="input-label">Transaction PIN</span>
            <input type="tel" name="transactionPIN" ng-model="userData.transactionPIN" class="tel-Password" numberonly ng-trim="false" nospace maxlength="4" minlength="4" ng-maxlength="4" ng-minlength="4" required placeholder="Enter Transaction PIN">
        </label>
                    <span ng-if="submitted && userForm.transactionPIN.$error.required" class="error-message marginleft25">Transaction Pin should be 4 digit</span>

                      </div>
 
                    <div class="center">
                        <button class="button commonButton margintop10" ng-click="gotoConfirm(userForm.$valid)">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
<ion-footer-bar align-title="center" class="footer hide-on-keyboard-open">
    <div class="row paddingnone" >
        <div class="col col-25 footerTile" ng-class="{ 'activefooterTile': activetile === 'AddAmount' }" ng-click="goto('AddAmount')">
            <img src="img/Footer_Account.png">
            <p>Add Amount</p>
        </div>
        <div class="col col-25 footerTile" ng-class="{ 'activefooterTile': activetile === 'FundTransferMenu' }" ng-click="goto('UserAccountDetails')">
            <img src="img/Footer_Fundtransfer.png">
            <p>Statements</p>
        </div>
        <div class="col col-25 footerTile" ng-class="{ 'activefooterTile': activetile === 'Menu' }" ng-click="goto('AccountDetailScreen')">
            <img src="img/Footer_Mpassbook.png">
            <p>Coming Soon</p>
        </div>
        <div class="col col-25 footerTile" ng-class="{ 'activefooterTile': activetile === 'more' }" ng-click="goto('SettingsMenu')">
            <img src="img/Footer_Moremenus.png">
            <p>More</p>
        </div>
    </div>
</ion-footer-bar>