<ion-header-bar class="headerBar bar ocs_header" align-title="center">
    <button ng-click="$ionicGoBack()" class="button ocs_backbutton">
        <i class="icon ion-chevron-left"></i>
        <!-- <span class="back-text">back</span> -->
    </button>
    <p class="ocs_hederText">Confirm lottery Numbers</p>
    <button class="button ocs_logoutbutton " ng-click="logout()">
        <i class="icon ion-log-out"></i>
    </button>
</ion-header-bar>
<ion-view  hide-back-button="true" hide-nav-bar="true" cache-view="false">
 

    <ion-content class="ocs_has_header">
        <div>
            <h2 class="selectedlotterytext">
                Lottery Name :: {{
                    data.selectedLotterytype
                }}
            </h2>
            <h2 class="selectedlotterytext">
                    Lottery type :: {{
                        data.lotterytype
                    }}
            </h2>
        </div>
        <div class="list ocs_list">

            <div class="item item-heading row" >
                <div class="col col40">
                    Amount
                </div>
                <div class="col col60">
                    Lottery Numbers
                </div>
            </div>
           
        </div>
        <div class="list ocs_list" ng-repeat="x in data.submittedlottery">

            <div class="item item-divider row" >
                <div class="col col40">
                        {{x.amount}}
                </div>
                <div class="col col60">
                        {{x.lotteryno}}
                </div>
            </div>
           
        </div>
        <div class="row">
            <div class="col">
                <div class="right">
                    <button type="button" class="button ocs_selectimage_button" ng-click="submit()" >SUBMIT</button>
                </div>
            </div>
            <div class="col">
                <div class="left">
                    <button type="button" class="button ocs_selectimage_button" ng-click="share()" >SHARE</button>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
