<ion-view view-title="complaintdetails" name="complaintdetails-view">
    
    
    <ion-header-bar class="headerBar bar ocs_header" align-title="center">
        <button ng-click="$ionicGoBack()" class="button ocs_backbutton">
            <i class="icon ion-chevron-left"></i>
            <!-- <span class="back-text">back</span> -->
        </button>
        <p class="ocs_hederText">Complaint Details</p>
        <!-- <div class="">
            <img src="img/home.png" ui-sref="homemenu" class="buttonImage">
        </div> -->
        <button class="button ocs_logoutbutton " ng-click="logout()">
            <i class="icon ion-log-out"></i>
        </button>
    </ion-header-bar>
        <ion-content class="ocs_has_header ocs_content">
            <form name="userForm" ng-submit="submit()" >
                <p class="newcomplaint_911warning">For Emergencies Please call 911</p>
                <div class="center">
                    <img src="img/default.png" alt="Default Image" onError="this.src='img/default.png'" ng-src="{{selectedimage}}" class="ocs_complaint_image">
                </div>
                <div class="center">
                    <button class="button ocs_selectimage_button" type="button" ng-click="opentemp()">Select Image</button>
                </div>
                <div class="padding10 margintop10">
                    <div class=" resultCard ">
                        <div class="listlabel">
                            <label class="item item-input item-floating-label labelBottomBorder "> 
                                <img src="img/description.png"> 
                                    <span class="input-label">Description</span>
                                    <input type="text" name="total" ng-model="data.description"  required placeholder="Enter Description">
                            </label>
                            <label class="item item-input item-floating-label labelBottomBorder "> 
                            <img src="img/address.png"> 
                                <span class="input-label">Address</span>
                                <textarea readonly type="text" name="total" ng-model="data.address"  required placeholder="Enter Address"></textarea>
                            </label>
                        </div>
                        <div class="center">
                            <button type="submit" class="button ocs_selectimage_button" ng-disabled="userForm.$invalid">SUBMIT</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="ocs_map center2" id="map">
                <!-- map will be displayed here -->
            </div>
        </ion-content>
    </ion-view>
     <!-- <label class="item item-input item-floating-label labelBottomBorder " ng-class="{'active':data.selectedMember.length>0}">
        <img src="img/user.png">            
        <span class="input-label">Select Member</span>
        <select class="asSelect " name="selectedMember" ng-model="data.selectedMember" required>
            <option value="" disabled selected>Select Member</option>
            <option ng-repeat="item in data.membersList"  value="{{item.Id}}">{{item.Id}}-{{item.Name}}</option>
        </select>
    </label> 
        <span ng-if="submitted && userForm.selectedMember.$error.required" class="error-message marginleft25">Please Select Member</span>
    <label class="item item-input item-floating-label labelBottomBorder ">
        <img src="img/date.png"> 
        <span class="input-label">Date</span>
        <input type="text" onfocus="(this.type='date')" name="date" ng-model="data.date" placeholder="Select Date" required>
    </label>
        <span ng-if="submitted && userForm.total.$error.required" class="error-message marginleft25">Please Enter Total Amount</span>
    <label class="item item-input item-floating-label labelBottomBorder ">
        <img src="img/description.png"> 
        <span class="input-label">Transaction PIN</span>
        <input type="tel" name="transactionPIN" ng-model="data.transactionPIN" class="tel-Password" numberonly ng-trim="false" nospace maxlength="4" minlength="4" ng-maxlength="4" ng-minlength="4" required placeholder="Enter Transaction PIN">
    </label>
    <span ng-if="submitted && userForm.transactionPIN.$error.required" class="error-message marginleft25">Transaction Pin should be 4 digit</span>
    <span ng-if="submitted && userForm.date.$error.required" class="error-message marginleft25">Select Date</span>
    <label class="item item-input item-floating-label labelBottomBorder ">
        <img src="img/amount.png"> 
        <span class="input-label">Amount</span>
        <input type="tel" name="amount"  ng-model="data.amount" valid-number required placeholder="Enter Amount">
    </label>
    <span ng-if="userForm.$submitted && userForm.amount.$error.required" class="error-message marginleft25">Please Enter Amount</span>-->