<ion-view view-title="NewComplaint" name="newcomplaint-view">


<ion-header-bar class="headerBar bar ocs_header" align-title="center">
    <button ng-click="$ionicGoBack()" class="button ocs_backbutton">
        <i class="icon ion-chevron-left"></i>
        <!-- <span class="back-text">back</span> -->
    </button>
    <p class="ocs_hederText">Select Complaint Type</p>
    <!-- <div class="">
        <img src="img/home.png" ui-sref="homemenu" class="buttonImage">
    </div> -->
    <button class="button ocs_logoutbutton " ng-click="logout()">
        <i class="icon ion-log-out"></i>
    </button>
</ion-header-bar>


    <ion-content class="ocs_has_header ocs_content">
        <form name="userForm" ng-submit="submit()" >
            <label class="item item-input item-floating-label labelBottomBorder " ng-class="{'active':data.lotterytype.length>0}">
                <img src="img/user.png">            
                <span class="input-label">Select type of lottery</span>
                <select class="asSelect " name="lotterytype" ng-model="data.lotterytype" required>
                    <option value="" disabled selected>Select type of lottery</option>
                    <option ng-repeat="item in data.complaints"  value="{{item.title}}">{{item.title}}</option>
                </select>
            </label> 
            <div class="center">
                <button type="submit" class="button ocs_selectimage_button" ng-disabled="userForm.$invalid">Next</button>
            </div>
        </form>

    </ion-content>
</ion-view>



 