<ion-view>
    <ion-content>
    <ion-slide-box  on-slide-changed="slideHasChanged($index)">
        <ion-slide>
            <div class="ocs_complaint_image">
                <img src="img/mobile.png" >
            </div>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="ocs_complaint_image">
                <img src="img/mobile.png" >
            </div>
        </ion-slide>
     
    </ion-slide-box>
     
    </ion-content>
    <div>
        <div class="center col">
            <a class="button ocs_selectimage_button" ng-click="RegisterUser()">Register</a>
        </div>
        <div class="center col">
            <a class="button ocs_selectimage_button" ng-click="login()">Login</a>
        </div>
    </div>
   
</ion-view>