<ion-view view-title="RegistrationForm" name="RegistrationForm-view">
    
    
    <ion-header-bar class="headerBar bar ocs_header" align-title="center">
        <!-- <button ng-click="$ionicGoBack()" class="button ocs_backbutton">
            <i class="icon ion-chevron-left"></i>
            <span class="back-text">back</span> 
        </button> -->
        <p class="ocs_hederText">Registration</p>
        <!-- <div class="">
            <img src="img/home.png" ui-sref="homemenu" class="buttonImage">
        </div> -->
        <!-- <button class="button ocs_logoutbutton " ng-click="logout()">
            <i class="icon ion-log-out"></i>
        </button> -->
    </ion-header-bar>
        <ion-content class="ocs_has_header ocs_content">
            <form name="userForm" ng-submit="register()" >
                
                <div class="center">
                    <img src="img/amc3.png" alt="Default Image" onError="this.src='img/amc3.png'" class="ocs_dashboard_topbanner">
                </div>
                <div class="padding10 margintop10">
                    <div class=" resultCard ">
                        <div class="listlabel">
                            <label class="item item-input item-floating-label labelBottomBorder "> 
                                <img src="img/registration.png"> 
                                    <span class="input-label">Name</span>
                                    <input type="text" name="total" ng-model="data.name"  required placeholder="Enter Name">
                            </label>
                            <label class="item item-input item-floating-label labelBottomBorder "> 
                                <img src="img/mobile.png"> 
                                    <span class="input-label">Mobile Number</span>
                                    <input type="tel" name="total" ng-model="data.mobilenumber"  required placeholder="Enter Mobile Number">
                            </label>
                            <label class="item item-input item-floating-label labelBottomBorder "> 
                                <img src="img/email.png"> 
                                    <span class="input-label">Email ID</span>
                                    <input type="email" name="total" ng-model="data.emailid"  required placeholder="Enter Email ID">
                            </label>
                            <label class="item item-input item-floating-label labelBottomBorder "> 
                                <img src="img/pin.png"> 
                                    <span class="input-label">PIN</span>
                                    <input type="tel" name="total" ng-model="data.PIN"  required placeholder="Enter PIN">
                            </label>
                            <label class="item item-checkbox "> 
                                <div class="checkbox" ng-class="{ 'has-errors' : registrationForm.tncCheckbox.$invalid && !registrationForm.tncCheckbox.$pristine, 'no-errors' : registrationForm.tncCheckbox.$valid}">
                                    <input type="checkbox" ng-model="data.tncCheckbox" name="tncCheckbox" ng-required="!data.tncCheckbox">
                                </div>
                                I agree to
                                <a href="" stop-event ng-click="click()">Terms and Conditions</a>
                            </label>
                        </div>
                        <div class="center">
                            <button type="submit" class="button ocs_selectimage_button" ng-disabled="userForm.$invalid">SUBMIT</button>
                        </div>
                    </div>
                </div>
            </form>
        </ion-content>
    </ion-view>
    


<!-- <ion-view>
    <ion-header-bar class="headerBar">
        <div><h1>Registration</h1></div>
    </ion-header-bar>
    <ion-content class="contentBackGround"  has-header="true">
        <form name="registrationForm" ng-submit="register();">    
            <div class="list RegFormBox">
                <div class="padding5">
                    <label class="item-input item-floating-label" ng-class="{ 'has-errors' : registrationForm.name.$invalid && !registrationForm.name.$pristine, 'no-errors' : registrationForm.name.$valid}">
                        <span class="input-label">Name</span>
                        <input type="text" placeholder="Full Name" name="name" ng-model="registrationData.name" required>
                    </label>
                </div>
                <div class="padding5">
                    <label class="item-input item-floating-label" ng-class="{ 'has-errors' : registrationForm.email.$invalid && !registrationForm.email.$pristine, 'no-errors' : registrationForm.email.$valid}">
                        <span class="input-label">Email</span>
                        <input type="email" placeholder="Email" name="email" ng-model="registrationData.email" required>
                    </label>
                </div>
                <div class="padding5">
                    <label class="item-input item-floating-label" ng-class="{ 'has-errors' : registrationForm.mobileNumber.$invalid && !registrationForm.mobileNumber.$pristine, 'no-errors' : registrationForm.mobileNumber.$valid}">
                        <span class="input-label">Mobile Number</span>
                        <input type="tel" placeholder="Mobile Number" ng-minlength="10" minlength="10" ng-maxlength="10" maxlength="10" name="mobileNumber" ng-model="registrationData.mobileNumber" required>
                    </label>
                </div>
                <div class="padding5">
                    <label class="item-input item-floating-label" ng-class="{ 'has-errors' : registrationForm.city.$invalid && !registrationForm.city.$pristine, 'no-errors' : registrationForm.city.$valid}">
                        <span class="input-label">City</span>
                        <input type="text" placeholder="City" name="city" ng-model="registrationData.city" required>
                    </label>
                </div>
                <div class="padding5">
                    <label class="item-input item-floating-label" ng-class="{ 'has-errors' : registrationForm.pin.$invalid && !registrationForm.pin.$pristine, 'no-errors' : registrationForm.pin.$valid}">
                        <span class="input-label">PIN</span>
                        <input type="password" placeholder="PIN" ng-minlength="4" minlength="4" ng-maxlength="4" maxlength="4" name="pin" ng-model="registrationData.pin" required>
                    </label>
                </div>
                <div class="padding5">
                    <label class="item-input item-floating-label" ng-class="{ 'has-errors' : registrationForm.confirmPin.$invalid && !registrationForm.confirmPin.$pristine, 'no-errors' : registrationForm.confirmPin.$valid}">
                        <span class="input-label">Confirm PIN</span>
                        <input type="password" placeholder="Confirm PIN" compare-to='registrationData.pin' ng-minlength="4" minlength="4" ng-maxlength="4" maxlength="4" name="confirmPin" ng-model="registrationData.confirmPin" required>
                    </label>
                </div>
            </div>
            <div class="card">
                <li class="item item-checkbox" >
                  <div class="checkbox" ng-class="{ 'has-errors' : registrationForm.tncCheckbox.$invalid && !registrationForm.tncCheckbox.$pristine, 'no-errors' : registrationForm.tncCheckbox.$valid}">
                    <input type="checkbox" ng-model="user.tncCheckbox" name="tncCheckbox" ng-required="!user.tncCheckbox">
                  </div>
                  I agree to
                  <a href="" stop-event ng-click="click()">Terms and Conditions</a>
                </li>
              </div>
            <div class="padding5 center">
                <button type="submit" class="button Commonbutton" value="Register">Register</button>
            </div>
        </form>    
    </ion-content>
</ion-view> -->